<div class="wiard-container">
  <app-wizard>
    <app-wizard-content>
      <div class="content">
        <span class="material-symbols-outlined">
          folder_open
        </span>
        <p>Step 1</p>
      </div>
    </app-wizard-content>
    <app-wizard-content>
      <div class="content">
        <span class="material-symbols-outlined">
          edit
        </span>
        <p>Step 2</p>
      </div>
    </app-wizard-content>
    <app-wizard-content>
      <div class="content">
        <span class="material-symbols-outlined">
          imagesmode
        </span>
        <p>Step 3</p>
    </div>
  </app-wizard-content>
  <app-wizard-content>
    <div class="content">
      <span class="material-symbols-outlined">
        done
      </span>
      <p>Step 4</p>
    </div>
  </app-wizard-content>
  </app-wizard>
</div>