<div class="wiard-container">
  <app-wizard>
    <app-wizard-content>
      <div class="first">
        <span class="material-symbols-outlined">
          folder_open
        </span>
        <p>first component</p>
      </div>
    </app-wizard-content>
    <app-wizard-content>
      <div class="second">
        <span class="material-symbols-outlined">
          edit
        </span>
        <p>second component</p>
      </div>
    </app-wizard-content>
    <app-wizard-content>
      <div class="third">
        <span class="material-symbols-outlined">
          imagesmode
        </span>
        <p>third component</p>
    </div>
  </app-wizard-content>
  <app-wizard-content>
    <div class="fourth">
      <span class="material-symbols-outlined">
        done
      </span>
      <p>fourth component</p>
    </div>
  </app-wizard-content>
  </app-wizard>
</div>