p{
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 15px;
}

.material-symbols-outlined{
    display: flex;
    justify-content: center;
    background-color: rgb(112, 112, 205);
    padding: 30px;
    border-radius: 50px;
    color: white;
}

