button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px; 
}

.buttns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content{
    margin-top: 200px;
}